{% extends 'base.html' %}
{% block title %}
Новости
{% endblock %}

{% block content %}

{% for one_tag in tags %}
      <a href={% url 'news_detail' pk=one_tag.pk %}>{{one_tag.tag}}</a>
      <br>
{% endfor %}

    <div class="card" style="width: 18rem;">
        {% for one_news in all_news %}
        <img src={{one_news.img}} class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">{{one_news.title}}</h5>
          <p class="card-text">{{one_news.text}}</p>
          <a href={% url 'news_detail' pk=one_news.pk %} class="btn btn-primary">Читать полностью</a>
        </div>

        {% endfor %}

    {% include "pagination.html" with page=all_news %}
    </div>

{% endblock %}
